#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;

}

#container div {
    width: calc(700px / 16);
    height: calc(700px/16);
    box-sizing: border-box;
    border: 2px solid black;
}